html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* REAL STYLEZ NOW */

strong {font-weight: bold;}
body {
	background: #eee;
	font-size: 13px;
	line-height:1.5;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.wrap {
	width: 890px;
	margin: 0 auto;
}

.header {
	background: url(/img/header_background.png) repeat-x;
	padding: 10px 0 30px 0;
	color: #2d2d2d;
	text-align: center;
	clear: both;
	margin-bottom: -30px;
}

.header p, .header li, .header ul, .header ul li a {display: inline-block;}
.header p {
	font-size: 16px;
	font-style: italic;
	padding-right: 10px;;
}

.header ul li a, .header ul li a:visited {
	padding: 0 10px;
	color: #2d2d2d;
	display: inline-block;
	font-size: 14px;
	border-right: 1px solid #b1b1b1;
}

.header ul li.last a {border-right: none;}

h1 {
	background: url(/img/h1_background.png) no-repeat top center;
	padding-top: 40px;
	font-family: 'Holtwood One SC', serif;
	font-size: 31px;
	text-align: center;
	text-shadow: 0 1px 0 #fff; /* drop shadow */
}

h1 em {color: #ba0000;}

h1 span {
	margin-bottom: -10px;
	font-family: Palatino, 'Times New Roman';
	font-weight: normal;
	font-style: italic;
	display: block;
	font-size: 29px;
}

h2 {
	background: url(/img/h2_background.png) no-repeat top center;	
	padding-top: 30px;
	font-size: 23px;
	text-align: center;
	color: #2d2d2d;
	font-family: "Palatino", 'Times New Roman';
	font-family: bold;
}

h2.r {background: none; color: #860a0a; padding-top: 0; margin-top: -5px; margin-bottom: 20px;}

.point {
	float: left;
	width: 245px;
	margin: 25px;
	margin-bottom: 50px;
}

.point h3 {font-size: 16px; font-weight: bold;}
.point p {font-size: 15px;}

.across {
	background: url(/img/across_background.png) repeat-x;
	clear: both;
	height: 320px;
}

.across blockquote {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 24px 0;
	font-family: "Palatino";
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -35px;
	/*text-shadow: 0 1px 1px rgba(0,0,0,.75);*/ /* drop shadow */
}

.across form {width: 800px; margin-left: 80px; margin-top: 15px;}

.across form input, .across form textarea {
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 13px;
	border: 1px solid #afafaf; /* stroke */
	background-color: #F0F0F0; /* layer fill content */
	padding: 5px;
}

.across form input {
	font-family: Palatino, 'Times New Roman'; 
	font-size: 14px; 
	margin-right: 10px; 
	margin-bottom: 10px;
}

input.name {width: 120px;}
input.email {width: 120px;}
input.address {width: 205px;}
input.zip {width: 50px;}

textarea {width: 755px; height: 80px; float: left;}

p.disclosure {
	text-align: center;
	clear: both;
	font-size: 12px;
	color: #666;
	padding-top: 10px;
}

p.disclosure a {color: #666;}

.across form button {
	float: right;
	margin-right: 32px;
	padding: 3px 10px;
	border: 1px solid #476b04; /* stroke */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4), inset 0 0 0 1px rgba(255,255,255,.08); /* inner shadow and inner glow */
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4), inset 0 0 0 1px rgba(255,255,255,.08); /* inner shadow and inner glow */
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4), inset 0 0 0 1px rgba(255,255,255,.08); /* inner shadow and inner glow */
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NjMwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgyYjkxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
	background-image: -moz-linear-gradient(bottom, #44630e 0%, #82b912 100%); /* gradient overlay */
	background-image: -o-linear-gradient(bottom, #44630e 0%, #82b912 100%); /* gradient overlay */
	background-image: -webkit-linear-gradient(bottom, #44630e 0%, #82b912 100%); /* gradient overlay */
	background-image: linear-gradient(bottom, #44630e 0%, #82b912 100%); /* gradient overlay */
	color: #fff; /* text color */
	font-family: "Helvetica";
	font-size: 17px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75); /* drop shadow */
	cursor: pointer;
}

.form_footer {
	clear: both; 
	width: 630px;
	margin: 0 auto;
	background: url(/img/form_footer_background.png) no-repeat center;
	margin-top: 120px;
	overflow: auto;
}

.form_footer p {
	float: left;
	width: 300px;
	text-align: center;
	font-weight: bold;
	clear: left;
	font-size: 18px;
	margin-top: 5px;
	margin-left: 80px;	
}

.sharing {margin-right: 125px;float: right; margin-top: -30px;}
.sharing li, .sharing li a {display: inline-block;}

.sharing li a {
	text-indent: -9999px;
	color: red;
	background: url(/img/sharing_sprite.png) no-repeat;
	height: 28px;
	width: 29px;
	margin-right: 5px;
}
 
.sharing li.fb a {background-position: 0px 0;}
.sharing li.g a {background-position: -35px 0;}
 .sharing li.tw a {background-position: -70px 0;}
 .sharing li.tb a {background-position: -106px 0;}
 
 
.content_left h2, .content_right h2 {
	background: none;
}

.content_left p, .content_right p {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.5;
	clear: both;
}

.content_left h2 {
	display: block;
	float: left;
	width: 280px;
	padding-top: 60px;
	font-weight: bold;
	font-family: 'Holtwood One SC', serif;
	font-size: 18px;
	text-align: left;
}

.content_right p strong {font-size: 17px;}

.content_right p.fbsheezy {
	font-size: 17px;
	color: #0054a6;
	text-align: center;
	font-style: italic;
}

.content_left h4 {
	font-weight: bold;
	font-size: 19px;
	color: #2d2d2d;
}

.content_left h3 {
	font-size: 23px;
	color: #2d2d2d;
	font-family: "Palatino", 'Times New Roman';
	font-weight: bold;
	color: #860A0A;
}

.content_left h3 span {color: #2e2e2e;}

.content_left h3 span {display: block;}
.content_left img.editorial {float: right; padding-bottom: 20px; margin-right: -20px;}

.content_left {
	float: left;
	width: 560px;
}

.content_right {
	float: right;
	width: 260px;
}

.content_right hr {
	background: url(/img/divider.png) no-repeat;
	border: 0;
	height: 20px;
	width: 290px;
	float: left;
	margin-left: -10px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.content_right h2 {
	color: #860a0a;
	text-align: left;
	line-height: 1.2;
	font-size: 21px;
	margin-bottom: 5px;
	font-weight: bold;
}

.content_right h2 span {font-weight: normal; display: block;}

.content_right ul  {
	list-style-image:url(/img/arrow.png);
	margin-left: 12px;
}

.content_right ul li a {
	color: #2e2e2e;
	font-size: 17px;
	padding-top: 5px;
	display: inline-block;
}

p.script {padding: 10px; background: #eee; border: 1px solid #ccc; margin-top: 20px;}

.content_left .numbas {font-size: 16px;}
.content_left .numbas li {margin-bottom: 10px;}

p.caption {
	font-family: helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	width: 300px;
	float: right;
	margin-right: -40px;
	margin-top: -15px;
	color: #666;
}

iframe {margin-bottom: 30px;}

.mainimg {text-align: center; margin: 0 auto; margin-bottom: 20px;}